#weatherCard {
    background-image: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
    color: white;
    display: none;
}

#weatherCardBody { 
    padding: 10px;
}

#weatherCardBody > img {
    width: 60px;
}

#socialMediaIcons > a {
    margin: 0 10px;
}

#socialMediaIcons > a > i, i::before {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.material-icons.md-48 { font-size: 48px; }

.news-story {
    padding: 25px;
}

.news-img {
    width: 900px;
    height: 300px;
}