<footer>
    <div class="container-fluid bg-dark text-light d-flex justify-content-around align-items-center py-3">
        <span class="fs-5">@2022 Copyright: <b>Update 24x7</b></span>
        <div class="inline-block" id="socialMediaIcons">
            <a href="#" class="btn btn-dark border-2 border-light rounded-circle">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="#" class="btn btn-dark border-2 border-light rounded-circle">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="#" class="btn btn-dark border-2 border-light rounded-circle">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</footer>