<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    
    <script src="/admin/js/register.js"></script>
    <title>Register</title>
</head>
<body>
    <header>
        <%- include('./partials/nav', {auth: false, isAdmin: false, cp: 'register'}); %>
    </header>
    <!-- Toast -->
    <%- include('./partials/toast', { id: 'responseToast'}); %>
    <div class="container d-flex justify-content-center my-3">
        <div class="card w-50 shadow">
            <div class="card-body">
                <h1 class="card-title text-center">Register</h1>
                <!-- Registration Form -->
                <form action="/auth/register" class="fs-5" method="post" id="regForm">
                    <div class="m-4 form-floating">
                        <div class="m-4 form-floating">
                            <input type="text" class="form-control" id="username" name="username"
                                placeholder="Enter your username" required>
                            <label for="username" class="form-label">Username</label>
                        </div>
                        <div class="m-4 form-floating">
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="name@example.com" required>
                            <label for="email" class="form-label">Email address</label>
                        </div>
                        <div class="m-4 form-floating">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Enter password" required>
                            <label for="password" class="form-label">Password</label>
                        </div>
                        <div class="m-4 form-floating">
                            <input type="password" class="form-control" id="cpassword" name="cpassword"
                                placeholder="Repeat password" required>
                            <label for="cpassword" class="form-label">Confirm password</label>
                        </div>
                        <div class="m-4">
                            <button type="submit" class="btn btn-dark btn-lg w-100">Register</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>